* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

body {
  color: #555;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100 !important;
  font-size: 3.5rem !important;
  color: #8a2be2 !important;
  margin: 20px !important;
}
/* p {
  font-size: 1.3rem;
} */

.section-heading {
  margin: 20px 20px 40px 20px !important;
}

.alt {
  color: white !important;
}
/* ----------   Nav   ----------*/

.navbar-brand {
  font-family: "Rock Salt", cursive;
  color: #8a2be2 !important;
  text-shadow: 1px 1px 2px black;
}
@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 1rem !important;
    margin-right: 0 !important;
  }
}
.nav-link {
  font-weight: bold !important;
}
.active [class*="nav-link"] {
  color: #8a2be2 !important;
}

.active {
  border-bottom: 2px solid #8a2be2 !important;
}
/* ----------   Landing   ----------*/
.landing-container {
  margin-top: 48px;
  width: 100vw;
  overflow: hidden;
  background: url(./images/title-image.jpg);
  background-size: cover;
  padding: 0rem 5rem;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 48px);
}
.title-container {
  height: 100%;
  width: 100%;
}
.name {
  font-size: 5rem;
  font-family: "Rock Salt", cursive;
  color: white;
  text-shadow: 4px 4px 5px black;
  margin-top: -5vh;
}
.developer {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: #8a2be2;
  text-shadow: 1px 1px 2px white;
}

/* ----------   About   ----------*/

.about-container {
  padding: 10vh 5vw !important;
}

.about-image {
  max-height: 250px;
  border: 2px solid #8a2be2;
  border-radius: 100%;
  box-shadow: 3px 3px 5px #555;
}

.about-text {
  padding: 3% 10%;
}

/* ----------   Skills   ----------*/

.skills-container {
  background-color: #79a1c9;
  padding: 3% 7% 15% !important;
}

.skills-content {
  margin-top: 6vh;
}

.heading-alt {
  color: #1d324f !important;
}

.skills-text {
  display: flex;
  align-items: center;
  height: 100%;
}

.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.table {
  border: 2px solid white;
  box-shadow: 2px 2px 2px #555;
  min-width: 240px;
}

.table-headings {
  color: white !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  border-bottom: 2px solid green !important;
}

/* ----------   projects   ----------*/

.projects-container {
  min-height: 400px;
  padding: 3% 7% 15%;
}
.cards-container {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}
.card {
  max-width: 300px;
  min-height: 200px;
  margin: 20px;
  box-shadow: 2px 2px 5px #555;
  /* background-image: url("https://recordit.co/wrXNPEQjw3");
  background-size: cover;
  background-repeat: no-repeat; */
}
.card-button {
  margin: 7% 1% 0;
  color: #8a2be2 !important;

}
.card-button a {
  color: #8a2be2 ;
}
.card-button a:hover{
  color:  #79a1c9;
}

hr.card-hr {
  border-top: 2px solid #8a2be2;
  margin-top: 0;
}

/* ----------   Intro   ----------*/

.intro {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.intro-text {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 3rem;
}
.hlovate {
  font-size: 1.5rem;
}
.hide {
  background-color: black;
  overflow: hidden;
}
.hide span {
  transform: translateY(100%);
  display: inline-block;
}
.about {
  height: 100vh;
}
.hide-text {
  color: white;
}
